.wrapper, html, body {
  height:100%;
  font-family: "Roboto";
  margin: 0px;
  overflow: hidden !important;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  width: 100%;
  height: 44px;
  //height: 6.59vh;
  z-index: 10;
  background-color: #f9f9f9;
  text-align: center !important;
  label {
    font-size: 16px;
    vertical-align: middle;
    line-height: 44px;
    margin-left: 43px !important;
  }
  img {
    height: 24px !important;
    float: right;
    margin: 11px;
  }
}

.home-container {
  flex: 1;
  //display: flex;
  //height: 97.7vh;
  height: calc(~"100vh - 44px - 44px");
  background-color: red;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.flex {
  display:flex;
  flex: 1;
}

.row-first {
  width: 100%;
  height: 75vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  opacity: 1 !important;
  .placeholder {
    color: #000;
    //font-size: 56px;
    font-size: 6.39vh;
    font-weight: 500;
  }
}

//iphone
@media only screen and (min-width: 350px) and (max-width: 812px) {
  .row-h35 {
    //height: 28.4vh;// iphone: 28.4vh, ipad: 32.6vh (safari)
    //position: absolute;
    //top: 44px;
    height: 35vh;
  }
  .row-h35-bottom {
    //height: 28.4vh;// iphone: 28.4vh, ipad: 32.6vh (safari)
    //position: absolute;
    //bottom: 0;
    height: 35vh;
  }

  .row-h30 {
    //position: absolute;
    //bottom: 28.4vh; // iphone: 28.4vh, ipad: 32.6vh (safari)
    //height: 22.5vh; // iphone: 22.5vh, ipad: 22.5vh (safari)
    height: 30vh;
  }

  .row {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    opacity: 1 !important;
    h2,h3,h4,h5 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    h5 {
      margin-top: 3px;
    }
    h6 {
      margin-top: 6px;
    }
    .time {
      font-weight: normal;
      font-size: 2.39vh;
      //font-size: 16px;
      margin-bottom: 12px !important;
    }
    .font-56 {
      margin-bottom: 4px !important;
    }
  }

  .placeholder1-font {
    color: #ffffff;
    opacity: 0.4;
    font-weight: normal;
    font-size: 2.39vh;
    //font-size: 16px;
    margin-top: 17px !important;
  }

}

//ipad potrait
@media only screen
and (min-width: 768px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .row-h35 {
    height: 32.6vh;// iphone: 28.4vh, ipad: 32.6vh (safari)
  }
  .row-h35-bottom {
    height: 32.5vh;// iphone: 28.4vh, ipad: 32.5vh (safari)
    position: absolute;
    bottom: 0;
  }

  .row-h30 {
    position: absolute;
    //bottom: 32.5vh; // iphone: 28.4vh, ipad: 32.5vh (safari)
    //height: 20.8vh; // iphone: 22.5vh, ipad: 20.8vh (safari)
    bottom: 32.5vh; // iphone: 28.4vh, ipad: 32.5vh (safari)
    height: 25vh; // 25vh
  }

  .row {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    opacity: 1 !important;
    h2,h3,h4 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    h5 {
      margin-top: 4px;
    }
    h6 {
      margin-top: 10px;
    }
    .time {
      font-weight: normal;
      font-size: 2.39vh;
      //font-size: 16px;
      margin-bottom: 34px !important;
    }
    .font-56 {
      margin-bottom: 21px !important;
    }
  }

  .placeholder1-font {
    color: #ffffff;
    opacity: 0.4;
    font-weight: normal;
    font-size: 2.39vh;
    //font-size: 16px;
    margin-top: 53px !important;
  }

}

// ipad landscape
@media only screen
and (min-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  .row-h35 {
    height: 32.6vh;// iphone: 28.4vh, ipad: 32.6vh (safari)
  }
  .row-h35-bottom {
    height: 32.5vh;// iphone: 28.4vh, ipad: 32.5vh (safari)
    position: absolute;
    bottom: 0;
  }

  .row-h30 {
    position: absolute;
    //bottom: 32.5vh; // iphone: 28.4vh, ipad: 32.5vh (safari)
    //height: 20.8vh; // iphone: 22.5vh, ipad: 20.8vh (safari)
    bottom: 32.5vh; // iphone: 28.4vh, ipad: 32.5vh (safari)
    height: 20.8vh; // 25vh
  }

  .row {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    opacity: 1 !important;
    h2,h3,h4 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    h5 {
      margin-top: 4px;
    }
    h6 {
      margin-top: 10px;
    }
    .time {
      font-weight: normal;
      font-size: 2.39vh;
      //font-size: 16px;
      margin-bottom: 34px !important;
    }
    .font-56 {
      margin-bottom: 21px !important;
    }
  }

  .placeholder1-font {
    color: #ffffff;
    opacity: 0.4;
    font-weight: normal;
    font-size: 2.39vh;
    //font-size: 16px;
    margin-top: 53px !important;
  }

}

//other
//@media only screen and (min-width: 1025px) {
//  .row-h35 {
//    height: 35%;
//    position: absolute;
//    top: 44px;
//  }
//  .row-h35-bottom {
//    height: 35%;
//    position: absolute;
//    bottom: 0;
//  }
//
//  .row-h30 {
//    position: absolute;
//    bottom: 32%;
//    height: 30%;
//  }
//}

.no-margin {
  margin: 0px !important;
  border: 0px !important;
  display: flex;
  justify-content: center;
  text-align: center;
}

.black-bg {
  background-color: #000;
}

.grey {
  color: grey;
}

.white {
  color: #fff;
}

.black {
  color: #000 !important;
}

.font-56 {
  color: #fff;
  //font-size: 56px;
  font-size: 8.39vh;
  font-weight: 500;
  margin: 0px !important;
  .small-text {
    //font-size: 31px;
    font-size: 4.64vh;
    vertical-align: top;
    opacity: 0.4;
    position: absolute;
    letter-spacing: -0.6px;
    margin-top: 1vh !important; // 78px
  }
}

.font-weight-600 {
  font-weight: 600 !important;
  letter-spacing: -2.2px;
  display: inline-block;
  vertical-align: middle;
}

.dynamic-content {
  vertical-align: middle;
}

.placeholder1c-font {
  color: #000;
  opacity: 0.4;
  font-weight: normal;
  //font-size: 16px;
  font-size: 2.39vh;
}

.placeholder2-font {
  color: #ffffff;
  font-weight: normal;
  //font-size: 20px;
  font-size: 2.99vh;
}

.placeholder3-font {
  color: #ffffff;
  opacity: 0.4;
  font-weight: normal;
  //font-size: 11px;
  font-size: 1.64vh;
}

.no-opacity {
  opacity: 0;
}

.opacity {
  opacity: 1;
}