@import url(//fonts.googleapis.com/css?family=Roboto);

#wrapper, html, body {
  height:100%;
  font-family: "Roboto";
  margin: 0px;
  //overflow: hidden !important;
}

@media only screen and (min-width: 350px) {
  #wrapper {
    flex: 1;
    font-family: "Roboto";
    //height: calc(~"100vh - 75px");
    //height: calc(~"100vh - 44px");
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 768px) {
  #wrapper {
    flex: 1;
    font-family: "Roboto";
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
  }
}

.header-container {
  width: 100%;
  height: 44px;
  //height: 6.59vh;
  z-index: 10;
  background-color: #f9f9f9;
  text-align: center !important;
  label {
    font-size: 16px;
    vertical-align: middle;
    line-height: 44px;
    margin-left: 43px !important;
  }
  img {
    height: 24px !important;
    float: right;
    margin: 11px;
  }
}

.home {
  flex: 1;
  width: 100%;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.row-first {
  width: 100%;
  height: 75vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  opacity: 1 !important;
  .placeholder {
    color: #000;
    //font-size: 56px;
    font-size: 6.39vh;
    font-weight: 500;
  }
}

//iphone
//@media only screen and (min-width: 350px) and (max-width: 812px) {
@media only screen and (min-width: 350px){
  .row {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //flex-wrap: nowrap;
    opacity: 1 !important;
    span {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .placeholder3-font {
      margin-top: 6px;
    }
    .font-56 {
      margin-bottom: 4px !important;
    }
  }

}

//ipad potrait
@media only screen
and (min-width: 768px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .row {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    opacity: 1 !important;
    span {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .placeholder3-font {
      margin-top: 10px;
    }
    .font-56 {
      margin-bottom: 21px !important;
    }
  }
}

// ipad landscape
@media only screen
and (min-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  .row {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    opacity: 1 !important;
    span {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .placeholder3-font {
      margin-top: 10px;
    }
    .font-56 {
      margin-bottom: 21px !important;
    }
  }

}

.time {
  font-weight: normal;
  font-size: 2.39vh;
  //font-size: 16px;
  padding-top: 4%;
  margin-bottom: 4% !important;
}


.no-margin {
  margin: 0px !important;
  border: 0px !important;
  display: flex;
  justify-content: center;
  text-align: center;
}

.black-bg {
  background-color: #000;
}

.grey {
  color: grey;
}

.white {
  color: #fff;
}

.black {
  color: #000 !important;
}

.font-56 {
  color: #fff;
  //font-size: 56px;
  font-size: 8.39vh;
  font-weight: 500;
  margin: 0px !important;
}

.dynamic-content1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dynamic-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.dynamic-content span {
  vertical-align: middle;
}

.font-56-center {
  color: #fff;
  //font-size: 56px;
  font-size: 8.39vh;
  font-weight: 500;
  margin: 0px !important;
  float: left;
}

.small-text {
  //font-size: 31px;
  font-size: 4.64vh;
  //vertical-align: top !important;
  opacity: 0.4;
  letter-spacing: -0.6px;
  margin-top: -6% !important;
  //position: absolute;
  //margin-top: 1vh !important; // 78px
}

.font-weight-600 {
  font-weight: 600 !important;
  letter-spacing: -2.2px;
}

.dynamic-content {
  vertical-align: middle;
}

.placeholder1c-font {
  color: #000;
  opacity: 0.4;
  font-weight: normal;
  //font-size: 16px;
  font-size: 2.50vh;
}

.placeholder1-font {
  color: #ffffff;
  opacity: 0.4;
  font-weight: normal;
  font-size: 2.50vh; //2.39
  //font-size: 16px;
  padding-top: 0% !important;
}

.placeholder2-font {
  color: #ffffff;
  font-weight: normal;
  //font-size: 20px;
  font-size: 3.10vh; // 2.99
}

.placeholder3-font {
  color: #ffffff;
  opacity: 0.4;
  font-weight: normal;
  //font-size: 11px;
  font-size: 1.70vh; //1.64
}
